#wrap
  header
    h1 The front-end process in parralel with a designer.
    .orb.light Designer.
      .hand
    .orb Developer.
      .hand
  .nodes
    .node-wrap.center
      .node
        h2 WireFrames &amp; Flow
        p For the project to get going you must have wires and flow. These will dictate the UX, Design, and implementation of the site. Trying to skip this step will only result in headaches and holes in your app.
        h4 Rational
        ul
          li It allows for a critical analysis to be performed without being skewed by visuals.
          li It allows a scope to be determined.
          li It allows everyone to understand the pieces.
      .node-images.bottom
        .wireframe.step-example.left
        .wireframe-secondary.step-example.right
        .cl
    .arrow-top
    .node-wrap.left
      .node-images.left
        img.left(src="http://placehold.it/170x100")
        img.left(src="http://placehold.it/170x100")
      .node.left
        h2 Style Canvassing
        p Defining and sticking to a style is critical to the visual success of the a project. For this reason the design team should explore styles across a multitude to present to the client until there is a clear sense of style to base further design decisions off of.
        h4 Rational
        ul
          li If you do not know who is doing it best it is hard to measure the success of your design.
          li Aligning style inspiration with the client will save many headaches in the end.
      .cl
    .arrow-bottom.cl
    .node-wrap.right
      .notch
      .node-images.right
        .wireframe-implementation.step-example.left
        .wireframe-implementation.step-example.right
      .node.right
        h2 WireFrame Implementation
        p While the creatives are moving along with their process, the devs should be spending their time hooking the site up with a wireframe level of polish/functionality
        h4 The bulk of dev time is spent hooking up non visual elements.
        ul
          li Digital Wires allow for an interative dev process.
          li The transition from wires to polished design in quite fast.
          li Digital Wires allow for critical UX issues to be identified without the debt of losing time on css changes.
      .cl
    .arrow-top
    .node-wrap.left
      .node-images.left
        img.left(src="http://placehold.it/170x100")
        img.left(src="http://placehold.it/170x100")
      .node.left
        h2 Component Styles
        p At this point the design team will be able to go off of the design inspiration and wires to develop styles in a modular fashion.
        h4 Pieces
        ul
          li Color Pallet
          li Font Styles
          li Button Styles / Wrapper Styles
      .cl
    .arrow-bottom.cl
    .node-wrap.right
      .notch
      .node-images.right
        img.left(src="http://placehold.it/170x100")
        img.left(src="http://placehold.it/170x100")
      .node.right
        h2 Style Integration
        p With the styles established, and the digital wires already made and hooked up. Style Integration is all that is left.
        h4 Single Focus
        p Since the functionality is in a stable place it allows the dev to focus on the design and implement them at a high level without having to worry about how they are going to implement featue X.
      .cl
    .ship.cl
    .cl
  .primary_flow
    .left.half
    .right.half
