#wrap
  header
    h1 Some Title Here
    .orb.light designer
      .hand
    .orb developer
      .hand
  .nodes
    .node-wrap.center
      .node
        h2 WireFrames
        p this is some awesome copy this is some awesome copy this is some awesome copy this is some awesome copy this is some awesome copy this is some awesome copy
        h4 wrapup
        ul
          li i am an item!
          li i am an item!
          li i am an item!
      .node-images.bottom
        img.left(src="http://placehold.it/170x100")
        img.right(src="http://placehold.it/170x100")
        .cl
    .arrow-top
    .node-wrap.left
      .node-images.left
        img.left(src="http://placehold.it/170x100")
        img.left(src="http://placehold.it/170x100")
      .node.left
        h2 this is a title
        p this is some awesome copy this is some awesome copy this is some awesome copy this is some awesome copy this is some awesome copy this is some awesome copy
        h4 this is a bullet title
        ul
          li i am an item!
          li i am an item!
          li i am an item!
      .cl
    .arrow-bottom.cl
    .node-wrap.right
      .notch
      .node-images.right
        img.left(src="http://placehold.it/170x100")
        img.left(src="http://placehold.it/170x100")
      .node.right
        h2 this is a title
        p this is some awesome copy this is some awesome copy this is some awesome copy this is some awesome copy this is some awesome copy this is some awesome copy
        h4 this is a bullet title
        ul
          li i am an item!
          li i am an item!
          li i am an item!
      .cl
  .primary_flow
    .left.half
    .right.half