global-reset()
@import "variables"
@import "primary_flow"
@import "header"

*
  box-sizing: border-box

html, body
  background: background-blue
  font-family: 'Open Sans'

.cl
  clear: both

.left
  float: left

.right
  float: right

#wrap
  max-width: max-width
  width: 100%
  margin: 0px auto
  min-width: 520px

.nodes
  position: relative;
  z-index: 10;
  .arrow-top, .arrow-bottom
    width: 48%
    height: 115px;
    background: url("/img/top-blue-loop.svg") no-repeat center center;
    background-position: 100% 80%;
    background-size: 37%;
    position: relative
  .arrow-bottom
    background-image: url("/img/bottom-blue-loop.svg");
    background-position: 101% 20%;
  .node-wrap
    max-width: 550px
    width: 48%
    position: relative
    &.left
      padding-right: 2%
    &.right
      padding-left: 2%
    &.center
      width: 70%
      margin: 0px auto
      max-width: 650px
      margin-bottom: 30px
      .node
        width: 100%
      .node-images img
        width: 50%
        &.left
          padding-right: 6.5%
        &.right
          padding-left: 6.5%
    .node-images
      padding: 10px
      img
        width: 100%
        height: auto
        border-radius: 5px
        overflow: hidden
        margin-top: 10px
      &.left
        width: 30%
      &.right
        width: 30%
  .node
    position: relative;
    width: 69.5%;
    padding: 25px
    border-radius 3px
    -moz-background-clip padding
    -webkit-background-clip padding-box
    background-clip padding-box
    background-color #fbfdff
    box-shadow 0 1px 1px #91a8b8
    background linear-gradient(bottom, #ebf2f8 0%, #fff 2%, #fff 100%)
    .circle
      height: 20px
      width: 20px
      border-radius: 50%
      position: absolute
      background: background-blue
      box-shadow inset 0 1px 1px #91a8b8
      top: 50%
      &.right
        right: -10px
      &.left
        left: -10px
      &.bottom
        left: 50%
        top: 100%
        margin-top: -10px
      &.top
        left: 50%
        top: 0%
        margin-top: -10px