.primary_flow
  position: fixed
  top: 0px
  min-height: 100%
  min-width: 520px
  width: 100%
  max-width: max-width
  .half
    position: absolute
    width: 48%
    min-height: 100%
  .left
    left: 0
    border-right: solid 8px light-blue
  .right
    left 50%
    border-left: solid 8px dark-blue